# 1. 모든 파일 통합

- 파일 불러오기

In [33]:
import pandas as pd

# CSV 파일 경로를 지정해 주세요.
file_path = '파일_경로.csv'

# CSV 파일을 DataFrame으로 불러오기
revenue = pd.read_csv(r'C:\Users\m\OneDrive\Desktop\최종 프로젝트\머신러닝 테스트\머신러닝 기본모델용 통합파일만들기\서울시_상권분석_서비스(추정매출-상권).csv')
population = pd.read_csv(r'C:\Users\m\OneDrive\Desktop\최종 프로젝트\머신러닝 테스트\머신러닝 기본모델용 통합파일만들기\서울시_상권분석_서비스(길단위인구-상권).csv')
facility =  pd.read_csv(r'C:\Users\m\OneDrive\Desktop\최종 프로젝트\머신러닝 테스트\머신러닝 기본모델용 통합파일만들기\서울시_상권분석_서비스(집객시설-상권).csv')
store =  pd.read_csv(r'C:\Users\m\OneDrive\Desktop\최종 프로젝트\머신러닝 테스트\머신러닝 기본모델용 통합파일만들기\서울시_상권분석_서비스(점포-상권).csv')
area =  pd.read_csv(r'C:\Users\m\OneDrive\Desktop\최종 프로젝트\머신러닝 테스트\머신러닝 기본모델용 통합파일만들기\서울시_상권분석_서비스(영역-상권).csv')

- 점포 데이터  컬럼 변경

In [34]:
# # 영어 컬럼명을 한글로 변환하는 매핑 딕셔너리 생성
# column_mapping = {
#     "STDR_YYQU_CD": "기준_년분기_코드",
#     "TRDAR_SE_CD": "상권_구분_코드",
#     "TRDAR_SE_CD_NM": "상권_구분_코드_명",
#     "TRDAR_CD": "상권_코드",
#     "TRDAR_CD_NM": "상권_코드_명",
#     "SVC_INDUTY_CD": "서비스_업종_코드",
#     "SVC_INDUTY_CD_NM": "서비스_업종_코드_명",
#     "STOR_CO": "점포_수",
#     "SIMILR_INDUTY_STOR_CO": "유사_업종_점포_수",
#     "OPBIZ_RT": "개업_율",
#     "OPBIZ_STOR_CO": "개업_점포_수",
#     "CLSBIZ_RT": "폐업_률",
#     "CLSBIZ_STOR_CO": "폐업_점포_수",
#     "FRC_STOR_CO": "프랜차이즈_점포_수"
# }

# # 컬럼 이름 변경
# store = store.rename(columns=column_mapping)

# # 변경된 컬럼 확인
# print(store.columns)

# 저장 (필요한 경우)
# store.to_csv('서울시_상권분석_서비스(점포-상권).csv', index=False, encoding='utf-8-sig')

- 집객시설 null값 0으로 치환

In [35]:
# null 값을 0으로 치환
facility = facility.fillna(0)

# 확인 (선택)
print(facility.head())

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드          상권_코드_명  집객시설_수  관공서_수  \
0      20241        A       골목상권  3110271           신내역 1번       3    0.0
1      20241        A       골목상권  3110332          돌곶이역 3번       2    0.0
2      20234        A       골목상권  3110008  배화여자대학교(박노수미술관)       9    0.0
3      20241        A       골목상권  3110008  배화여자대학교(박노수미술관)       9    0.0
4      20234        A       골목상권  3110009            자하문터널       3    0.0

   은행_수  종합병원_수  일반_병원_수  약국_수  유치원_수  초등학교_수  중학교_수  고등학교_수  대학교_수  백화점_수  \
0   0.0     0.0      0.0   0.0    0.0     0.0    0.0     0.0    0.0    0.0
1   0.0     0.0      0.0   0.0    0.0     0.0    0.0     0.0    0.0    0.0
2   0.0     0.0      0.0   1.0    0.0     0.0    0.0     0.0    0.0    0.0
3   0.0     0.0      0.0   1.0    0.0     0.0    0.0     0.0    0.0    0.0
4   0.0     0.0      0.0   0.0    0.0     0.0    0.0     0.0    0.0    0.0

   슈퍼마켓_수  극장_수  숙박_시설_수  공항_수  철도_역_수  버스_터미널_수  지하철_역_수  버스_정거장_수
0     0.0   0.0      0.0   0.0     0.0       0.0      0.0       2.0
1     0.0   0.0      0.0   0.0     0.0       0.0      0.0       2.0
2     0.0   0.0      0.0   0.0     0.0       0.0      0.0       4.0
3     0.0   0.0      0.0   0.0     0.0       0.0      0.0       4.0
4     0.0   0.0      0.0   0.0     0.0       0.0      0.0       3.0

- 집객시설 2020 4분기 데이터로 2019 1분기 ~ 2020 3분기 데이터 만들어주기

In [36]:
# 1. 복사할 기준 데이터 (2020년 4분기)
reference_data = facility[facility['기준_년분기_코드'] == 20204]

# 2. 복사할 대상 분기 목록 (2019년 1분기 ~ 2020년 3분기)
missing_quarters = [20191, 20192, 20193, 20194, 20201, 20202, 20203]

# 3. 기준 데이터를 복사하여 누락된 분기에 대한 데이터 생성
new_rows = []
for quarter in missing_quarters:
    temp = reference_data.copy()
    temp['기준_년분기_코드'] = quarter
    new_rows.append(temp)

# 4. 새로운 데이터(2019년 1분기~202년 3분기)를 기존 데이터프레임에 추가
new_data = pd.concat(new_rows, ignore_index=True)
facility_updated = pd.concat([facility, new_data], ignore_index=True)

# 결과 확인
print("결측 분기를 추가한 데이터프레임:")
facility_updated.sort_values(by=['기준_년분기_코드'], inplace=True)
facility_updated.reset_index(drop=True, inplace=True)
facility_updated.head()

# 저장 (필요한 경우)
# facility_updated.to_csv('집객시설_결측분기채움.csv', index=False, encoding='utf-8-sig')

결측 분기를 추가한 데이터프레임:

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,20191,U,관광특구,3001496,강남 마이스 관광특구,35,1.0,8.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0
1,20191,D,발달상권,3120100,망원역,40,0.0,3.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0
2,20191,D,발달상권,3120046,이태원(이태원역),56,1.0,5.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,12.0
3,20191,D,발달상권,3120045,남영동 먹자골목,31,3.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
4,20191,D,발달상권,3120044,삼각지역,32,1.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0

In [37]:
facility_not_null = facility_updated

In [38]:
# 매출 + 인구 데이터

# revenue 기준으로 population 데이터 병합
merged_data = revenue.merge(
    population,  # population 전체 사용
    on=['기준_년분기_코드', '상권_코드_명'],  # 조인키 기준으로 병합
    how='inner',
    suffixes=('', '_remove')  # 중복 컬럼 처리: population에서 온 중복 컬럼에 '_remove' 접미사 추가
)

# 중복 컬럼 제거 (_remove 접미사가 붙은 컬럼 삭제)
merged_data = merged_data.loc[:, ~merged_data.columns.str.endswith('_remove')]

# 결과 확인
print("병합된 데이터프레임 정보:")
print(merged_data.info())
print(merged_data.shape)
print(revenue.shape)

# 저장 (필요한 경우)
# merged_data.to_csv('merged_revenue_population.csv', index=False, encoding='utf-8-sig')

병합된 데이터프레임 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449075 entries, 0 to 449074
Data columns (total 77 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   기준_년분기_코드         449075 non-null  int64
 1   상권_구분_코드          449075 non-null  object
 2   상권_구분_코드_명        449075 non-null  object
 3   상권_코드             449075 non-null  int64
 4   상권_코드_명           449075 non-null  object
 5   서비스_업종_코드         449075 non-null  object
 6   서비스_업종_코드_명       449075 non-null  object
 7   당월_매출_금액          449075 non-null  float64
 8   당월_매출_건수          449075 non-null  int64
 9   주중_매출_금액          449075 non-null  float64
 10  주말_매출_금액          449075 non-null  float64
 11  월요일_매출_금액         449075 non-null  float64
 12  화요일_매출_금액         449075 non-null  float64
 13  수요일_매출_금액         449075 non-null  float64
 14  목요일_매출_금액         449075 non-null  float64
 15  금요일_매출_금액         449075 non-null  float64
 16  토요일_매출_금액         449075 non-null  float64
 17  일요일_매출_금액         449075 non-null  float64
 18  시간대_00~06_매출_금액   449075 non-null  float64
 19  시간대_06~11_매출_금액   449075 non-null  float64
 20  시간대_11~14_매출_금액   449075 non-null  float64
 21  시간대_14~17_매출_금액   449075 non-null  float64
 22  시간대_17~21_매출_금액   449075 non-null  float64
 23  시간대_21~24_매출_금액   449075 non-null  int64
 24  남성_매출_금액          449075 non-null  float64
 25  여성_매출_금액          449075 non-null  float64
 26  연령대_10_매출_금액      449075 non-null  int64
 27  연령대_20_매출_금액      449075 non-null  float64
 28  연령대_30_매출_금액      449075 non-null  float64
 29  연령대_40_매출_금액      449075 non-null  float64
 30  연령대_50_매출_금액      449075 non-null  float64
 31  연령대_60_이상_매출_금액   449075 non-null  float64
 32  주중_매출_건수          449075 non-null  int64
 33  주말_매출_건수          449075 non-null  int64
 34  월요일_매출_건수         449075 non-null  int64
 35  화요일_매출_건수         449075 non-null  int64
 36  수요일_매출_건수         449075 non-null  int64
 37  목요일_매출_건수         449075 non-null  int64
 38  금요일_매출_건수         449075 non-null  int64
 39  토요일_매출_건수         449075 non-null  int64
 40  일요일_매출_건수         449075 non-null  int64
 41  시간대_00~06_매출_건수   449075 non-null  int64
 42  시간대_06~11_매출_건수   449075 non-null  int64
 43  시간대_11~14_매출_건수   449075 non-null  int64
 44  시간대_14~17_매출_건수   449075 non-null  int64
 45  시간대_17~21_매출_건수   449075 non-null  int64
 46  시간대_21~24_매출_건수   449075 non-null  int64
 47  남성_매출_건수          449075 non-null  int64
 48  여성_매출_건수          449075 non-null  int64
 49  연령대_10_매출_건수      449075 non-null  int64
 50  연령대_20_매출_건수      449075 non-null  int64
 51  연령대_30_매출_건수      449075 non-null  int64
 52  연령대_40_매출_건수      449075 non-null  int64
 53  연령대_50_매출_건수      449075 non-null  int64
 54  연령대_60_이상_매출_건수   449075 non-null  int64
 55  총_유동인구_수          449075 non-null  int64
 56  남성_유동인구_수         449075 non-null  int64
 57  여성_유동인구_수         449075 non-null  int64
 58  연령대_10_유동인구_수     449075 non-null  int64
 59  연령대_20_유동인구_수     449075 non-null  int64
 60  연령대_30_유동인구_수     449075 non-null  int64
 61  연령대_40_유동인구_수     449075 non-null  int64
 62  연령대_50_유동인구_수     449075 non-null  int64
 63  연령대_60_이상_유동인구_수  449075 non-null  int64
 64  시간대_00_06_유동인구_수  449075 non-null  int64
 65  시간대_06_11_유동인구_수  449075 non-null  int64
 66  시간대_11_14_유동인구_수  449075 non-null  int64
 67  시간대_14_17_유동인구_수  449075 non-null  int64
 68  시간대_17_21_유동인구_수  449075 non-null  int64
 69  시간대_21_24_유동인구_수  449075 non-null  int64
 70  월요일_유동인구_수        449075 non-null  int64
 71  화요일_유동인구_수        449075 non-null  int64
 72  수요일_유동인구_수        449075 non-null  int64
 73  목요일_유동인구_수        449075 non-null  int64
 74  금요일_유동인구_수        449075 non-null  int64
 75  토요일_유동인구_수        449075 non-null  int64
 76  일요일_유동인구_수        449075 non-null  int64
dtypes: float64(22), int64(50), object(5)
memory usage: 263.8+ MB
None
(449075, 77)
(449094, 55)

In [39]:
# (매출+인구) + 집객시설데이터

# merged_data(매출+인구) 기준으로 facility 데이터 병합
merged_data1 = merged_data.merge(
    facility_not_null,  # facility_not_null 전체 사용
    on=['기준_년분기_코드', '상권_코드_명'],  # 조인키 기준으로 병합
    how='inner',
    suffixes=('', '_remove')  # 중복 컬럼 처리: facility_not_null에서 온 중복 컬럼에 '_remove' 접미사 추가
)

# 중복 컬럼 제거 (_remove 접미사가 붙은 컬럼 삭제)
merged_data1 = merged_data1.loc[:, ~merged_data1.columns.str.endswith('_remove')]

# 결과 확인
print("병합된 데이터프레임 정보:")
print(merged_data1.info())
print(merged_data1.shape)
print(merged_data.shape)

병합된 데이터프레임 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445582 entries, 0 to 445581
Data columns (total 97 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   기준_년분기_코드         445582 non-null  int64
 1   상권_구분_코드          445582 non-null  object
 2   상권_구분_코드_명        445582 non-null  object
 3   상권_코드             445582 non-null  int64
 4   상권_코드_명           445582 non-null  object
 5   서비스_업종_코드         445582 non-null  object
 6   서비스_업종_코드_명       445582 non-null  object
 7   당월_매출_금액          445582 non-null  float64
 8   당월_매출_건수          445582 non-null  int64
 9   주중_매출_금액          445582 non-null  float64
 10  주말_매출_금액          445582 non-null  float64
 11  월요일_매출_금액         445582 non-null  float64
 12  화요일_매출_금액         445582 non-null  float64
 13  수요일_매출_금액         445582 non-null  float64
 14  목요일_매출_금액         445582 non-null  float64
 15  금요일_매출_금액         445582 non-null  float64
 16  토요일_매출_금액         445582 non-null  float64
 17  일요일_매출_금액         445582 non-null  float64
 18  시간대_00~06_매출_금액   445582 non-null  float64
 19  시간대_06~11_매출_금액   445582 non-null  float64
 20  시간대_11~14_매출_금액   445582 non-null  float64
 21  시간대_14~17_매출_금액   445582 non-null  float64
 22  시간대_17~21_매출_금액   445582 non-null  float64
 23  시간대_21~24_매출_금액   445582 non-null  int64
 24  남성_매출_금액          445582 non-null  float64
 25  여성_매출_금액          445582 non-null  float64
 26  연령대_10_매출_금액      445582 non-null  int64
 27  연령대_20_매출_금액      445582 non-null  float64
 28  연령대_30_매출_금액      445582 non-null  float64
 29  연령대_40_매출_금액      445582 non-null  float64
 30  연령대_50_매출_금액      445582 non-null  float64
 31  연령대_60_이상_매출_금액   445582 non-null  float64
 32  주중_매출_건수          445582 non-null  int64
 33  주말_매출_건수          445582 non-null  int64
 34  월요일_매출_건수         445582 non-null  int64
 35  화요일_매출_건수         445582 non-null  int64
 36  수요일_매출_건수         445582 non-null  int64
 37  목요일_매출_건수         445582 non-null  int64
 38  금요일_매출_건수         445582 non-null  int64
 39  토요일_매출_건수         445582 non-null  int64
 40  일요일_매출_건수         445582 non-null  int64
 41  시간대_00~06_매출_건수   445582 non-null  int64
 42  시간대_06~11_매출_건수   445582 non-null  int64
 43  시간대_11~14_매출_건수   445582 non-null  int64
 44  시간대_14~17_매출_건수   445582 non-null  int64
 45  시간대_17~21_매출_건수   445582 non-null  int64
 46  시간대_21~24_매출_건수   445582 non-null  int64
 47  남성_매출_건수          445582 non-null  int64
 48  여성_매출_건수          445582 non-null  int64
 49  연령대_10_매출_건수      445582 non-null  int64
 50  연령대_20_매출_건수      445582 non-null  int64
 51  연령대_30_매출_건수      445582 non-null  int64
 52  연령대_40_매출_건수      445582 non-null  int64
 53  연령대_50_매출_건수      445582 non-null  int64
 54  연령대_60_이상_매출_건수   445582 non-null  int64
 55  총_유동인구_수          445582 non-null  int64
 56  남성_유동인구_수         445582 non-null  int64
 57  여성_유동인구_수         445582 non-null  int64
 58  연령대_10_유동인구_수     445582 non-null  int64
 59  연령대_20_유동인구_수     445582 non-null  int64
 60  연령대_30_유동인구_수     445582 non-null  int64
 61  연령대_40_유동인구_수     445582 non-null  int64
 62  연령대_50_유동인구_수     445582 non-null  int64
 63  연령대_60_이상_유동인구_수  445582 non-null  int64
 64  시간대_00_06_유동인구_수  445582 non-null  int64
 65  시간대_06_11_유동인구_수  445582 non-null  int64
 66  시간대_11_14_유동인구_수  445582 non-null  int64
 67  시간대_14_17_유동인구_수  445582 non-null  int64
 68  시간대_17_21_유동인구_수  445582 non-null  int64
 69  시간대_21_24_유동인구_수  445582 non-null  int64
 70  월요일_유동인구_수        445582 non-null  int64
 71  화요일_유동인구_수        445582 non-null  int64
 72  수요일_유동인구_수        445582 non-null  int64
 73  목요일_유동인구_수        445582 non-null  int64
 74  금요일_유동인구_수        445582 non-null  int64
 75  토요일_유동인구_수        445582 non-null  int64
 76  일요일_유동인구_수        445582 non-null  int64
 77  집객시설_수            445582 non-null  int64
 78  관공서_수             445582 non-null  float64
 79  은행_수              445582 non-null  float64
 80  종합병원_수            445582 non-null  float64
 81  일반_병원_수           445582 non-null  float64
 82  약국_수              445582 non-null  float64
 83  유치원_수             445582 non-null  float64
 84  초등학교_수            445582 non-null  float64
 85  중학교_수             445582 non-null  float64
 86  고등학교_수            445582 non-null  float64
 87  대학교_수             445582 non-null  float64
 88  백화점_수             445582 non-null  float64
 89  슈퍼마켓_수            445582 non-null  float64
 90  극장_수              445582 non-null  float64
 91  숙박_시설_수           445582 non-null  float64
 92  공항_수              445582 non-null  float64
 93  철도_역_수            445582 non-null  float64
 94  버스_터미널_수          445582 non-null  float64
 95  지하철_역_수           445582 non-null  float64
 96  버스_정거장_수          445582 non-null  float64
dtypes: float64(41), int64(51), object(5)
memory usage: 329.8+ MB
None
(445582, 97)
(449075, 77)

In [40]:
# (매출+인구 + 집객시설) + 점포데이터

# merged_data1(매출+인구+집객시설) 기준으로 store 데이터 병합
merged_data2 = merged_data1.merge(
    store,  # store 전체 사용
    on=['기준_년분기_코드', '상권_코드_명', '서비스_업종_코드_명'],  # 조인키 기준으로 병합
    how='inner',
    suffixes=('', '_remove')  # 중복 컬럼 처리: store에서 온 중복 컬럼에 '_remove' 접미사 추가
)

# 중복 컬럼 제거 (_remove 접미사가 붙은 컬럼 삭제)
merged_data2 = merged_data2.loc[:, ~merged_data2.columns.str.endswith('_remove')]

# 결과 확인
print("병합된 데이터프레임 정보:")
print(merged_data2.info())
print(merged_data2.shape) # 합친데이터
print(merged_data1.shape) # 이전데이터 행수 비교(얼마나 줄어들었는지)

병합된 데이터프레임 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445582 entries, 0 to 445581
Columns: 104 entries, 기준_년분기_코드 to 프랜차이즈_점포_수
dtypes: float64(41), int64(58), object(5)
memory usage: 353.6+ MB
None
(445582, 104)
(445582, 97)

In [41]:
# (매출 + 인구 + 집객시설 + 점포데이터) + 영역

# merged_data1(매출+인구+집객시설) 기준으로 area데이터 병합
merged_data3 = merged_data2.merge(
    area,  # area 전체 사용
    on= ['상권_코드_명'],  # 조인키 기준으로 병합
    how='inner',
    suffixes=('', '_remove')  # 중복 컬럼 처리: area에서 온 중복 컬럼에 '_remove' 접미사 추가
)

# 중복 컬럼 제거 (_remove 접미사가 붙은 컬럼 삭제)
merged_data3 = merged_data3.loc[:, ~merged_data3.columns.str.endswith('_remove')]

# 결과 확인
print("병합된 데이터프레임 정보:")
print(merged_data3.info())
print(merged_data3.shape)
print(merged_data2.shape)

병합된 데이터프레임 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445582 entries, 0 to 445581
Columns: 111 entries, 기준_년분기_코드 to 영역_면적
dtypes: float64(41), int64(63), object(7)
memory usage: 377.3+ MB
None
(445582, 111)
(445582, 104)

- 병합 후 데이터 null값 확인

In [42]:
# 병합된 데이터 null값 확인'

# Pandas 출력 옵션 설정
import pandas as pd
pd.set_option('display.max_rows', None)  # 모든 행 출력
pd.set_option('display.max_columns', None)  # 모든 열 출력

# 결측값 확인 (축약 없이 전체 출력)
print(merged_data3.isnull().sum())

기준_년분기_코드           0
상권_구분_코드            0
상권_구분_코드_명          0
상권_코드               0
상권_코드_명             0
서비스_업종_코드           0
서비스_업종_코드_명         0
당월_매출_금액            0
당월_매출_건수            0
주중_매출_금액            0
주말_매출_금액            0
월요일_매출_금액           0
화요일_매출_금액           0
수요일_매출_금액           0
목요일_매출_금액           0
금요일_매출_금액           0
토요일_매출_금액           0
일요일_매출_금액           0
시간대_00~06_매출_금액     0
시간대_06~11_매출_금액     0
시간대_11~14_매출_금액     0
시간대_14~17_매출_금액     0
시간대_17~21_매출_금액     0
시간대_21~24_매출_금액     0
남성_매출_금액            0
여성_매출_금액            0
연령대_10_매출_금액        0
연령대_20_매출_금액        0
연령대_30_매출_금액        0
연령대_40_매출_금액        0
연령대_50_매출_금액        0
연령대_60_이상_매출_금액     0
주중_매출_건수            0
주말_매출_건수            0
월요일_매출_건수           0
화요일_매출_건수           0
수요일_매출_건수           0
목요일_매출_건수           0
금요일_매출_건수           0
토요일_매출_건수           0
일요일_매출_건수           0
시간대_00~06_매출_건수     0
시간대_06~11_매출_건수     0
시간대_11~14_매출_건수     0
시간대_14~17_매출_건수     0
시간대_17~21_매출_건수     0
시간대_21~24_매출_건수     0
남성_매출_건수            0
여성_매출_건수            0
연령대_10_매출_건수        0
연령대_20_매출_건수        0
연령대_30_매출_건수        0
연령대_40_매출_건수        0
연령대_50_매출_건수        0
연령대_60_이상_매출_건수     0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
집객시설_수              0
관공서_수               0
은행_수                0
종합병원_수              0
일반_병원_수             0
약국_수                0
유치원_수               0
초등학교_수              0
중학교_수               0
고등학교_수              0
대학교_수               0
백화점_수               0
슈퍼마켓_수              0
극장_수                0
숙박_시설_수             0
공항_수                0
철도_역_수              0
버스_터미널_수            0
지하철_역_수             0
버스_정거장_수            0
점포_수                0
유사_업종_점포_수          0
개업_율                0
개업_점포_수             0
폐업_률                0
폐업_점포_수             0
프랜차이즈_점포_수          0
엑스좌표_값              0
와이좌표_값              0
자치구_코드              0
자치구_코드_명            0
행정동_코드              0
행정동_코드_명            0
영역_면적               0
dtype: int64

In [43]:
# 저장 (필요한 경우)
merged_data3.to_csv('통합데이터(매출,인구,점포,집객시설,영역).csv', index=False, encoding='utf-8-sig')